@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary: #029AE0;
    --primary-100: #E6F6FB;
    --primary-200: #B3E4F7;
    --primary-300: #80D1F3;
    --primary-400: #4DBFF0;
    --background: #202124;
    --background-100: #26282B;
    --background-200: #3b3c3f;
    --font-xs: 10px;
    --font-sm: 12px;
    --font-base: 14px;
    --font-lg: 16px;
    --font-xl: 18px;
    --font-2xl: 20px;
    --font-3xl: 22px;
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding : 0;
    }

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "sidebar content";
    height: 100vh;
    background-color: var(--background);
    color: #ffffff;
}

/* General styles document.getElementById("new-project-model").showModal() */ 

h2 {
    font-size: var(--font-3xl);
}

h3  {
    font-size: var(--font-2xl);
}   

h4  {
    font-size: var(--font-xl);              
}

h5 {font-size: var(--font-lg);
}

button {
    padding: 10px 20px;
    background-color: var(--primary);
    border: none;
    border-radius: 16px;
    color: #ffffff;
    font-size: var(--font-base);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}   

button:hover {
    background-color: var(--primary-400);
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Sidebar styles */

#sidebar {
    background-color: var(--background-100);
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
} 

#company-logo {
    height: 65px;
}

#nav-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#nav-buttons li {
    list-style: none;
    padding: 15px;
    border-radius: 10px;
    font-size: var(--font-base);
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#nav-buttons li:hover {
    background-color: var(--primary-400);
}

/* Content styles */

#content {

}

header {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-card {
    background-color: var(--background-100);
    border-radius: 8px;
    cursor: pointer;
}

.project-card:hover {
    outline: 2px solid var(--primary);
}

.card-header {
    display: flex;
    column-gap: 20px;
    padding: 15px 20px;
    align-items: center;
    justify-content: start;
    border-bottom: 2px solid #3b3c3f;
    height: 60px;
}

.card-content {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
}

.card-property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#projects-list {
    padding: 20 40px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

/* Form styles */

dialog {
    border: none;
    margin: auto;
    background-color: transparent;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

form {
    width: 450px;
    border-radius: 10px;
    background-color: var(--background-100);
    color: white;
}

form h2 {
    padding: 20px;
    border-bottom: 2px solid var(--background-200);
}

form .input-list {
    display: flex;
    flex-direction: column;
    padding: 30px;
    row-gap: 20px;
    column-gap: 10px;
}

form .form-field-container {
    display: flex;
    flex-direction: column;
}

label {
  font-size: var(--font-base);
  margin-bottom: 10px;
  font-weight: 500;
  color: rgba(150,150,150,1);
  display: flex;
  align-items: center;
  column-gap: 5px;
}

input, textarea, select {
    color: white;
    background-color: var(--background-200);
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: var(--font-base);
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid var(--primary);
}

.form-field-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    column-gap: 10px;
    border-top: 2px solid var(--background-200);
}

#form-field-button {
    background-color: var(--primary);
    cursor: pointer;
}

#form-field-button:hover {
    outline: 2px solid var(--primary);
    background-color: green;
}

/* Project details page */

.dashboard-card {
    background-color: var(--background-100);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#project-details > .main-page-content {
    display: grid;
    padding: 20px 40px;
    gap: 30px;
    grid-template-columns: 475px 1fr;
    height: 100%;
}

.edit-project-btn {
    background-color: transparent;
    outline: 2px solid #969696;
    width: 100px;
    text-align: center;
}

.edit-project-btn:hover {
    background-color: var(--background-200);
    outline: 2px solid var(--primary);
}

.todo-item {
    padding: 20px;
    background-color: var(--background-200);
    border-radius: 10px;
    cursor: pointer;
}

.todo-item:hover {
    background-color: var(--primary); 
}

.todo-item-pending {
  background-color: #7ea7ff;
  padding: 10px;
  border-radius: 5px;
}

.todo-item-active {
  background-color: #b8e946c2;
  padding: 10px;
  border-radius: 5px;
}

.todo-item-finished {
  background-color: #80a107;
  padding: 10px;
  border-radius: 5px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    padding: 0 12px;
    border-radius: 20px;
    width: 300px;
    margin-left: 40px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
}

.search-box input {
    border: none;
    background: transparent;
    flex: 1;
    height: 100%;
}

.search-box input:focus {
    outline: none;
}

.search-box:hover {
    background-color: var(--background-200);
    outline: 2px solid var(--primary);
}

.btn-add-user {
    background-color: transparent;
    text-align: center;
    outline: 2px solid #969696;
}

.btn-add-user:hover {
    background-color: var(--background-200);
    outline: 2px solid var(--primary);
}

.user-list-header{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 40px;
    border-bottom: 2px solid var(--background-200);
}

#import-projects-btn:hover {
    background-color: var(--primary-400);
    border-radius: 16px;
}

#export-projects-btn:hover {
    background-color: var(--primary-400);
    border-radius: 16px;
}

#delete-project-btn:hover {
    background-color: rgb(200, 50, 50);
    border-radius: 16px;
}

/* Project icon */
.project-icon {
    text-transform: capitalize;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* color variants for icon */
.icon-blue {background-color: #3470ca;}
.icon-green {background-color: #2ecc71;}
.icon-orange {background-color: #e67e22;}
.icon-purple {background-color: #9b59b6;}
.icon-red {background-color: #e74c3c;}
.icon-teal {background-color: #1abc9c;}

#ToDoAdd-Btn:hover {
    background-color: var(--primary-400);
    border-radius: 16px;
}

.todo-item-pending {
  background-color: #1a1a2e;
  padding: 10px;
  border-radius: 5px;
}

.todo-item-active {
  background-color: blueviolet;
  padding: 10px;
  border-radius: 5px;
}

.todo-item-finished {
  background-color: green;
  padding: 10px;
  border-radius: 5px;
}


